$primary-color: #094a8b;
$bg-color: #f7f5f0;
$text-color: #333;
$border-radius: 20px;

.login {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: $bg-color;
  position: relative; // Ensure the login container is positioned relative to its parent
  .home-page {
    min-height: 700px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: opacity 1.5s ease-in-out;
    }

    @keyframes fade {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 1;
      } /* Giữ ảnh hiển thị */
      40% {
        opacity: 1;
      } /* Ảnh vẫn sáng */
      50% {
        opacity: 0;
      } /* Mờ dần */
      100% {
        opacity: 0;
      }
    }

    img:nth-child(1) {
      animation: fade 12s infinite 0s;
    }
    img:nth-child(2) {
      animation: fade 12s infinite 3s;
    }
    img:nth-child(3) {
      animation: fade 12s infinite 6s;
    }
    img:nth-child(4) {
      animation: fade 12s infinite 9s;
    }
  }

  @keyframes fade {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  &__card {
    height: 480px;
    position: absolute;
    z-index: 10;
    background: #fff;
    padding: 0 30px;
    margin-left: 120px;
    border-radius: $border-radius;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__custom {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: $primary-color;
    position: absolute;
    letter-spacing: 5px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100px;
    height: 50px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      top: 0;
      left: -30px;
      position: absolute;
      border-top-right-radius: 50%;
      width: 30px;
      height: 30px;
      box-shadow: 15px 0 0 0 $primary-color;
    }
    &::after {
      content: "";
      top: 0;
      right: -30px;
      position: absolute;
      border-top-left-radius: 50%;
      width: 30px;
      height: 30px;
      box-shadow: -15px 0 0 0 $primary-color;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    color: $text-color;
    // margin-bottom: 50px;
  }

  &__subtitle {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
  }

  &__input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__input {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 14px;
    transition: border-bottom 0.3s ease;
    border-radius: 8px;
    &:hover,
    &:focus {
      outline: none;
      border-bottom: 2px solid $primary-color;
    }
  }

  &__icon {
    position: absolute;
    right: 10px;
    color: gray;
    font-size: 16px;
  }

  &__options {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;

    label {
      font-size: 14px;
      color: $text-color;
      cursor: pointer;

      input {
        margin-right: 5px;
      }
    }
  }

  &__error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  &__button {
    background: $primary-color;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;

    margin: 30px 0;
    width: 100%;

    &:hover {
      background: darken($primary-color, 10%);
    }
  }
}
.errorMessage {
  color: red;
}
