.user-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .user-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
  }

  .user-content {
    margin-top: 150px; // Điều chỉnh theo chiều cao của header
  }

  .user-footer {
    margin-top: auto;
  }
}
