.Doctors {
    background-color: #E4EEFB;
    padding: 20px;
    min-height: 80vh;
    width: 100%;
    &_header {
        color: #9BD6F0;
        font-size: 32px;
        text-align: center;
        font-style: italic;
        margin-bottom: 20px;
    }
    &_content{
        display:flex;
        justify-content: center;
        text-align: center;
        width: 100%;
            .Doctors_list {
                width: 100%;
                .title{
                    background-color: #8ab5e3;
                }
                .check_view {
                    border: none;
                    border-radius: 5px;
                    transition: 0.2s;
                    &:hover {
                        background-color: #aeafaf;
                        color: #0056b3; // Màu khi hover (xanh đậm hơn)
                    }
                }

            }
    }
    &_info {
        flex: 1;
        max-width: 500px;
    }
    &_middle {
        position: relative;
        text-align: center;
        margin: 30px 0 ;
        button {
            width: 220px;
            height: 30px;
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            svg {
                height: 25px;
                width: 25px;
            }

            &:hover {
                background-color: #c5c5c5;
            }
        }
        &_right {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            .Doctors_container{
                position: relative;
                display: flex;
                align-items: center;
                padding-left: -12px;
                    input {
                        width: 300px;
                        padding: 5px 35px 5px 10px; // Chừa khoảng trống bên phải cho icon
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        height: 30px;

                        &:hover {
                            background-color: #ebe9e9;
                        }
                        &:focus {
                            background-color: #ebe9e9;
                            outline: none;
                        }
                    }
            .iconSearch {
            position: absolute;
            right: 10px; // Canh icon bên phải
            font-size: 18px;
            color: gray;
            cursor: pointer;
        }
        }
        }
    }
    &_bottom{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .pagination {
            li {
                a {
                    color: #030303;     
                    &:hover {
                        color: #0056b3; // Màu khi hover (xanh đậm hơn)
                    }
                }
        
                &.active a {
                    color: white;  // Màu chữ khi active
                    background-color: #007bff; // Nền xanh dương khi active
            }
        }
    }
}
.table{
    --bs-table-border-color: #dadbdd !important;
    .title {
        font-size: 18px !important;
    }
    tbody {
        tr th {
          background-color: #fff !important; 
        }
      }
}
}

