html,
body {
  margin: 0;
  padding: 0;
  background-color: #e4eefb; // Màu nền cho toàn bộ trang
  font-family: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  line-height: 1.5;
  color: #212529;
}

.App-container {
  background-color: #e4eefb;
  .app-header {
  }
  .app-body {
    padding: 20px 0;
  }
  .app-footer {
  }
}
